/*main part of every page*/
body, header, div, h1, ul, li, img, p {
    margin: 0;
    padding: 0;
}

body {
    background: url(../imgs/bg-wpp.png) no-repeat fixed #808080;
    padding: 5%;
}

    body header #main-title {
        font-family: 'Marck Script', cursive;
        font-size: 3.5em;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(217, 211, 211, 0.6);
        width: 50%;
        margin-left: 25%;
    }
    /*Navigation*/
    

        body header #navigation {
            position: absolute;
            align-content:center;
            list-style-type: none;
        margin: 2% 18%;
        }

            body header #navigation li {
                position: relative;
                float: left;
                margin-left: 1.2em;

            }

                body header #navigation li a {
                    padding: 0.3em;
                    text-decoration: none;
                    color: #fff;
                    font-family: 'Marck Script', cursive;
                    font-size: 1.5em;
                border-radius: 50%;
                background-color: rgba(252, 112, 66, 0.6);
                
                }

                    body header #navigation li a:hover {
                        color: #f3d59d;
                    }

                body header #navigation li ul li {
                    display: none;
                }

                body header #navigation li:hover ul li {
                    display: block;
                    margin-left: 19%;
                    margin-top:8%;
                }
    /*the actual body*/
    body #body {
        margin-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'Marck Script', cursive;
        font-size: 2em;
        color: white;
    }
        /*for pricelist page*/
        body #body #matrixLogo {
            max-width:40%;
            display:inline-block;
        }
        body #body .prices {
            font-size: 0.8em;
            text-align:center;
            margin-right:40%;
            display: block;
        }

            body #body .prices:first-child {
                font-size:1.2em;
            }

    /*for galery pages*/
    body #gallery {
        margin-top: 11%;
    }
    /*for contact page*/
    body #contacts {
        margin-top: 10%;
        padding-left: 10%;
        padding-right: 10%;
        font-family: 'Marck Script', cursive;
        font-size: 1.4em;
        color: white;
    }

        body #contacts p a {
            text-decoration: none;
            color: #e9a7ff;
        }

            body #contacts p a:hover {
                color: white;
            }
